.App {
  text-align: center;
}
body{
  background-color: rgb(42, 165, 128);
}

.navbar{
  padding: 0.1px;

}
 .card{
  margin: 30px;
  margin-bottom: 10px;
  padding: 30px;
  width: 20rem;
  border-color: black;
 background-color: rgb(122, 112, 112);
}

button{
 margin: 10px;
color: aliceblue; 
} 

.products{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

 p {
  color: aliceblue;
}
.card-title{
  color: aliceblue;
}